@use "../globals";

.language__selector {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-20px);
    gap: 10px;
    box-sizing: content-box;
    background-color: globals.$white;
    padding: 0.5rem;
    z-index: 2;
    border-radius: 5px;

    &:hover {
        .language__selector__flag {
            display: flex;
        }
    }

    .language__selector__flag {
        width: 100%;
        display: none;
        justify-content: center;

        &.active {
            display: flex;
            order: 0;
        }

        &:not(.active) {
            order: 1;
        }

        img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
