@use "globals";

.chart__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

    .chart__wrapper {
        .chart {
            padding: 2rem;
            box-sizing: content-box;
            border: 1px solid globals.$border;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            width: 800px;
        }
    }
}
